.about_content h1 {
  margin-top: 125px;
  padding: 0 35px;
}

.about_content p {
  padding: 0 35px;
}

.about_content span {
  color: #f75d43;
}

.about_btn {
  padding: 10px 30px;
  background-color: #f75d43;
  border: 1px solid #f75d43;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 35px;
}
